.wrapper {
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
i.fa.fa-plus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa.fa-minus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa.fa-plus.fa-style:hover {
    color: brown;
}
i.fa.fa-minus.fa-style:hover {
    color: brown;
}
.wrapper_chitiet {
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.hinhanh_sanpham {
    float: left;
    width: 30%;
}
.chitiet_sanpham {
    float: left;
    width: 49%;
    margin: 0 10px;
}
input.themgiohang {
    border: none;
    background: var(--primary-color);
    border-radius: 5px;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}

input.themgiohang:hover {
    background: linear-gradient(0, #101010, #71716a);
}

.header {
    background: linear-gradient(0, #101010, #71716a);
    background-repeat: no-repeat;
    background-size: 100% 180px;
    height: 100px;
    width: 100%;
}
.menu {
    border: 1px solid #1aff8c;
    height: 50px;
    width: 100%;
    background: #00e6ac;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 70%;
    border: 1px;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}
ul.list_menu li:hover {
    background: burlywood;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
}
ul.list_menu li {
    float: left;

    margin: 7px;
    padding: 5px;
}
ul.baiviet {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.baiviet li {
    padding: 10px;
}
#main {
    height: auto;
    width: 100%;
}
.sidebar {
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px;
    list-style: none;
    line-height: 27px;
}
ul.list_sidebar li a:hover {
    color: white;
    background: linear-gradient(0, #101010, #71716a);
}
ul.list_sidebar li a {
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 5px;
    text-align: left;
    color: black;
    display: block;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}
.maincontent {
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li img {
    height: 190px;
}
ul.product_list li {
    width: 19%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;

    height: 300px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img {
    width: 100%;
}

p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin: 5px;
}
.footer {
    height: 150px;
    width: 100%;
    color: #fff;
    /* background-image: linear-gradient(0, #101010, #71716a); */
}
p.footer_copyright {
    text-align: center;
    color: white;
}
.clear {
    clear: both;
}

/* Tabs */
.tabs {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
}
ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;
    /*border: 1px solid #d5d5de;
  border-bottom: none;*/
    cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    background: linear-gradient(0, #101010, #71716a);
}
#tabs-nav li a {
    text-decoration: none;
    color: #fff;
}
.tab-content {
    padding: 10px;
    border: 5px solid var(--primary-color);
    background-color: #fff;
}

/* jQuery Demo */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 10px 0px 10px 0px;
    width: 15%;
    float: left;
    position: relative;
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-steps .step a {
    color: #777;
    text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 17px solid #ddd;
    z-index: 2;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

*.arrow-steps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 11px;
    line-height: 21px;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #5599e5;
}

.arrow-steps .step.current a {
    color: #fff;
    text-decoration: none;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #5599e5;
}

.arrow-steps .step.done {
    color: #173352;
    background-color: #2f69aa;
}

.arrow-steps .step.done a {
    color: #173352;
    text-decoration: none;
}

.arrow-steps .step.done:after {
    border-left: 17px solid #2f69aa;
}

.arrow-steps clearfix {
    margin: 10px 0;
}
/* ---------------------------------------------------------------------------------------------------------- */
.sidebar {
    /* Customize sidebar width and position */
    background-color: #f0f0f0;
    width: 250px;
    float: left;
    margin-right: 20px;
}

#list_danhmucsanpham {
    list-style: none;
    padding: 0;
    margin: 0;
}

#item_danhmucsanpham {
    font-size: 16px;
    margin-bottom: 10px;
}

#item_danhmucsanpham a {
    text-decoration: none;
    color: #333;
}

#item_danhmucsanpham a:hover {
    color: white;
}

#item_danhmucsanpham.active a {
    /* Styles for the active category */
    color: white;
    background: linear-gradient(0, #101010, #71716a);
    border-radius: 5px;
    font-weight: bold;
    /* Example: bold text for active category */
    background-color: #f5f5f5;
    /* Example: light gray background for active category */
}

#list_danhmucbaiviet {
    list-style: none;
    padding: 0;
    margin: 0;
}

#item_danhmucbaiviet {
    font-size: 16px;
    margin-bottom: 10px;
}

#item_danhmucbaiviet a {
    text-decoration: none;
    color: #333;
}

#item_danhmucbaiviet a:hover {
    color: white;
}

#item_danhmucbaiviet.active a {
    /* Styles for the active category */
    color: white;
    background: linear-gradient(0, #101010, #71716a);
    border-radius: 5px;
    font-weight: bold;
    /* Example: bold text for active category */
    background-color: #f5f5f5;
    /* Example: light gray background for active category */
}

/* ------------------------------------------------------------------Tag Bài viết-------------------------------------------- */
.news-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.news-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
    /* Adjust as needed */
}

.news-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    /* Add border for each news item */
    border-radius: 5px;
    overflow: hidden;
    /* Ensure the image does not overflow */
}

.news-item a {
    text-decoration: none;
    color: inherit;
}

.news-item-image {
    float: left;
    width: 120px;
}

.news-image {
    width: 100%;
    height: auto;
    display: block;
}

.news-item-content {
    padding: 10px;
}

.news-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.news-item-summary {
    color: #333;
}
/* ------------------------------------------------------------Bài viết--------------------------------------- */
.news-item-content {
    background: #fff;
    padding: 10px;
}

.baiviet-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm box shadow */
    padding: 20px;
}

.baiviet {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.baiviet li {
    margin-bottom: 20px;
}

.baiviet h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.baiviet p {
    font-size: 18px;
    line-height: 1.6;
}
