.wrapper {
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
i.fa.fa-plus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa.fa-minus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa.fa-plus.fa-style:hover {
    color: brown;
}
i.fa.fa-minus.fa-style:hover {
    color: brown;
}
.wrapper_chitiet {
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.hinhanh_sanpham {
    float: left;
    width: 30%;
}
.chitiet_sanpham {
    float: left;
    width: 49%;
    margin: 0 10px;
}
.btn-themgiohang {
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-themgiohang:hover {
    background-color: #76ABAE; /* Chỉ định màu khi hover */
}

.btn-themgiohang span {
    margin-right: 5px; /* Khoảng cách giữa chữ và icon */
}

.header {
    background: #000;
    width: 100%;
}
.menu {
    border: 1px solid #1aff8c;
    height: 50px;
    width: 100%;
    background: #00e6ac;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 70%;
    border: 1px;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}
ul.list_menu li:hover {
    background: burlywood;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
}
ul.list_menu li {
    float: left;

    margin: 7px;
    padding: 5px;
}

#main {
    background: #93B1A6;
    height: auto;
    width: 100%;
}
.sidebar {
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px;
    list-style: none;
    line-height: 27px;
}
ul.list_sidebar li a:hover {
    color: white;
    background: linear-gradient(0, #101010, #71716a);
}
ul.list_sidebar li a {
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 5px;
    text-align: left;
    color: black;
    display: block;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}
.maincontent {
    height: auto;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li img {
    height: 190px;
}
ul.product_list li {
    width: 19%;
    border: 1px solid #ddd;
    margin: 5px;
    float: left;

    height: 300px;
}
ul.product_list li a {
    text-decoration: none;
}
ul.product_list li img {
    width: 100%;
}

p.price_product {
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
p.title_product {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin: 5px;
}
.footer {
    height: 150px;
    width: 100%;
    background: #183D3D;
    
}
.footer .footer__heading,
.footer .footer-item__link,
.footer .footer-item__icon {
    color: #ffffff;
}
p.footer_copyright {
    text-align: center;
    color: white;
}
.clear {
    clear: both;
}



/* jQuery Demo */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #777;
    cursor: default;
    margin: 0 1px 0 0;
    padding: 10px 0px 10px 0px;
    width: 15%;
    float: left;
    position: relative;
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrow-steps .step a {
    color: #777;
    text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: "";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 17px solid #ddd;
    z-index: 2;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

*.arrow-steps .step.done span:before {
    opacity: 1;
    content: "";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 11px;
    line-height: 21px;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #5599e5;
}

.arrow-steps .step.current a {
    color: #fff;
    text-decoration: none;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #5599e5;
}

.arrow-steps .step.done {
    color: #173352;
    background-color: #2f69aa;
}

.arrow-steps .step.done a {
    color: #173352;
    text-decoration: none;
}

.arrow-steps .step.done:after {
    border-left: 17px solid #2f69aa;
}


/* ---------------------------------------------------------------------------------------------------------- */
.sidebar {
    /* Customize sidebar width and position */
    background-color: #f0f0f0;
    width: 250px;
    float: left;
    margin-right: 20px;
}

#list_danhmucsanpham {
    list-style: none;
    padding: 0;
    margin: 0;
}

#item_danhmucsanpham {
    font-size: 16px;
    margin-bottom: 10px;
}

#item_danhmucsanpham a {
    text-decoration: none;
    color: #222831;
}

#item_danhmucsanpham a:hover {
    color: white;
}

#item_danhmucsanpham.active a {
    /* Styles for the active category */
    color: white;
    background: linear-gradient(0, #101010, #71716a);
    border-radius: 5px;
    font-weight: bold;
    /* Example: bold text for active category */
    background-color: #f5f5f5;
    /* Example: light gray background for active category */
}

#list_danhmucbaiviet {
    list-style: none;
    padding: 0;
    margin: 0;
}

#item_danhmucbaiviet {
    font-size: 16px;
    margin-bottom: 10px;
}

#item_danhmucbaiviet a {
    text-decoration: none;
    color: #333;
}

#item_danhmucbaiviet a:hover {
    color: white;
}

#item_danhmucbaiviet.active a {
    /* Styles for the active category */
    color: white;
    background: linear-gradient(0, #101010, #71716a);
    border-radius: 5px;
    font-weight: bold;
    /* Example: bold text for active category */
    background-color: #f5f5f5;
    /* Example: light gray background for active category */
}


.carousel-item img {
    width: 100%;
    object-fit: cover;
}
/* Menu được chọn */
.navbar-nav .nav-item.active .nav-link {
    opacity: 1;
    font-weight: bolder;
    color: #fff;/* Đặt đậm font cho menu được chọn */
}

/* Menu không được chọn */
.navbar-nav .nav-item .nav-link {
    opacity: 0.5; /* Đặt độ mờ cho menu không được chọn */
    transition: opacity 0.3s ease; /* Thêm hiệu ứng chuyển động */
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    opacity: 0.7; /* Đổi độ mờ khi rê chuột vào */
    color: #fff;
}
/* Định dạng chung cho dropdown menu */
.dropdown-menu {
    background-color: #ffffff; /* Màu nền */
    border: 1px solid #cccccc; /* Viền */
    border-radius: 5px; /* Bo góc */
    
}

/* Định dạng cho các mục menu */
.dropdown-menu a {
    color: #333333; /* Màu văn bản */
    text-decoration: none; /* Loại bỏ gạch chân */
    display: block; /* Hiển thị theo dạng block */
    padding: 20px; /* Khoảng cách giữa các mục */
    transition: background-color 0.3s ease; /* Hiệu ứng hover */
    
}

/* Hiệu ứng hover */
.dropdown-menu a:hover {
    background-color: #f5f5f5; /* Màu nền khi hover */
}

.header__search-form {
    display: flex;
    height: auto; /* Chiều cao tự động */
    padding: 5px;
}

.header__search-input {
    flex: 1; /* Input chiếm phần còn lại của flex container */
    margin-right: 5px; /* Khoảng cách giữa input và button */
}

.btn-primary {
    height: auto; /* Chiều cao tự động */
    margin: 0; /* Xóa margin */
}
.giohang-title{
    margin-bottom: 20px;
  }

